* {
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    overflow-y: overlay;
}


::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: rgba(75, 227, 191, 0.5);
  }
  
  ::selection {
    color: #fff;
    background: rgba(75, 227, 191, 0.2);
  }

  /* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(180, 180, 180, 0.5);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 180, 180, 1);
}


html {
    background-color: #0F0F0F;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    transition: .1s all;
    
}

body {
    overflow-y: overlay;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

button {
    padding: 15px 90px;

    border-radius: 5px;
    border: 1px solid rgba(75, 227, 191, 1);
    color: white;
    background: none;

    font-size: 18px;

    transition: .1s all;
    cursor: pointer;
}

button:hover, .nav-links li:nth-child(4):hover, .nav-links-menu li:hover a, .search-options span:hover, footer a:hover {
    background: rgba(75, 227, 191, 0.05);
    color: rgba(75, 227, 191, 1);
}

button:active, .nav-links-menu li:hover, .search-options span:active {
    background: rgba(75, 227, 191, 0.2);
}

.loader-wrapper {
    background-color:#0F0F0F;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
}

.overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: .3s all;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

header nav section:nth-child(1) {
    transition: 1s all;
}

.nav-links li:hover a, .project-details ul li a:hover {
    color: rgba(75, 227, 191, 1);
}

.nav-links li:active a, .project-details ul li a:active  {
    color: rgb(182, 255, 238);
}

header nav section:first-child {
    display: flex;
    transition: 1s all;
}

#logo img {
    width: 60px;
}

#logo {
    display: flex;
    margin: auto;
}

nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 30px 0;
    z-index: 5;
    transition: padding .2s ease-in-out, top .2s ease-in-out, background .1s ease-in-out, box-shadow .1s ease-in-out;
}

.nav-links {
    display: flex;
    margin: auto;
}

.nav-links-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    background-color: #0F0F0F;
    width: 0;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 3;
    transition: .3s all;
}

.nav-links-menu li {
    padding: 20px;
    margin: 0 0 10px 0;
    white-space: nowrap;
}

.nav-links li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    cursor: pointer;

    transition: .1s all;
}

.nav-links li:nth-child(n+2) {
    margin: 0 0 0 24px;
}

.nav-links li:nth-child(4) {
    border: 1px solid rgba(75, 227, 191, 1);
}

.nav-links a {
    padding: 12px 18px;
    text-decoration: none;
    text-align: center;
}

#menu {
    display: none;
    padding: 10px;
    z-index: 3;
}

#menu .iconify {
    width: 40px;
    height: 40px;
}

.container {
    height: 100vh;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(/img/viktor2.png);
    background-attachment: fixed;
    background-size: 240vh;
}

#hire {
    height: 50vh;
    background-size: 200vh;
    background-position: 50% 35%;
}

.content {
    color: #fff;
    height: auto;
    width: 50%;
    text-align: center;
}

.small-heading {
    font-weight: 300;
    font-size:18px;
    color: rgba(75, 227, 191, 1);
    
}

.large-heading {
    font-size: 62px;
    padding: 5px 0 30px 0;
    
}

.sub-heading {
    font-size: 52px;
    padding: 0 0 20px 0;
    text-align: left;
    
}

#projects .sub-heading {
    padding: 0;
    text-align: center;
}

#hire .sub-heading {
    padding: 0 0 30px 0;
    text-align: center;
}

#about, #projects {
    background: none;
    height: auto;
    width: auto;
    justify-content: center;
    padding: 40px 0;
}

#about .content, #projects .content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
/* 
#about .content section div h1 {
    font-size: 42px;
} */

.content p {
    text-align: left;
}

p {
    line-height: 36px;
    font-size: 21px;
    
}

.content p:nth-child(n+3) {
    padding: 15px 0 0 0;
}


#about .content .img {
    width: 100%;
    background-image: url(/img/PXL_20210522_1040473852.png);
    /* background-size: 100vh; */
    background-size: 200%;
    /* border-radius: 5px; */

    /* background-position: 115%; */
    background-position: center;
    /* background-attachment: fixed; */
    height: 100%;
    object-fit: cover;
    position: relative;
}

#about .content .img:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 0 0 0 10px #0F0F0F;
}

#about section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about section div {
    margin: 30px 0;
}

#about section ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    background-color: #202020;
    padding: 30px;
    border-radius: 5px;
}

#about .skills-section ul:nth-child(3) {
    margin: 20px 0 0 0;
}

#about section ul li {
    display: flex;
    align-items: center;
    width: auto;
}

#about section ul li:nth-child(n+2) {
    margin: 30px 0 0 0;
}

#about section ul li span {
    width: 40%;
    height: auto;
    
}

#about section ul li span:nth-child(2) {
    width: 60%;
    height: auto;
}

#about section ul li span:nth-child(2) {
    height: 15px;
    border-radius: 50px;
    background-color: #303030;
}

#about section ul li span:nth-child(2)::after {
    content: '';
    background-color: rgba(75, 227, 191, 0.5);
    height: 100%;
    display: block;
    width: auto;
    border-radius: 50px;
}

#about section ul:nth-child(2) li:nth-child(1) span:nth-child(2)::after,
#about section ul:nth-child(2) li:nth-child(2) span:nth-child(2)::after,
#about section ul:nth-child(3) li:nth-child(2) span:nth-child(2)::after {
    width: 90%;
}

#about section ul:nth-child(2) li:nth-child(3) span:nth-child(2)::after,
#about section ul:nth-child(3) li:nth-child(3) span:nth-child(2)::after {
    width: 60%;
}

#about section ul:nth-child(3) li:nth-child(4) span:nth-child(2)::after {
    width: 70%;
}

.project-details {
    background: #202020;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 70%;
    z-index: 100;
    border-radius: 5px;
    transition: .2s all;
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
}

.project-details ul li .sub-heading {
    padding: 0;
}

.project-details ul li .small-heading {
    padding: 0 0 80px 0;
  
}

.project-details ul li button {
    width: 340px;
}

.project-details ul li:nth-child(4) {
    padding: 10px 0 30px 0;
}

.project-details ul li:nth-child(5) {
    padding: 0px 0 10px 0;
}

.project-details ul {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
}

.project-details img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

#projects .content {
    flex-direction: column;
    align-items: center;
}

#projects .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 30px;
    width: 100%;
}

#projects .row .column {
    height: 450px;
    border-radius: 5px;
    background-color: #303030;
    position: relative;
    overflow: hidden;
    transition: .3s all;
}

#projects .row .column:hover {
    transform: scale(0.95);
    cursor: pointer;
}

#projects .row .column:hover img {
    transform: scale(1.1);
}

#projects .row .column:hover span {
    transform: scale(1.3);
}

#projects .row .column span {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    font-size: 21px;
    text-align: left;
    transform-origin: bottom left;
    z-index: 2;
    transition: .3s all;
    
  
    width: 300px;
}

#projects .row .column img {
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: 100%;
    object-fit: cover;
    transition: .3s all;
}

.search-options {
    padding: 0 0 30px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.search-options button {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0 20px;
}

#projects .content p {
    padding: 20px 0 20px 0;
}

#projects .content p span {
    color: rgba(75, 227, 191, 1);
}

footer {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
}

footer .footer-links {
    margin: 20px 0 0 0;
    display: flex;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
}

.iconify {
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 1250px) {
    #about .content .img {
        background-position: 37vmax -20vh;
    }
}

@media only screen and (max-width: 1000px) {

    nav {
        width: 90%;    
    }

    #menu {
        display: inherit;
    }

    .nav-links li {
        display: none;
        flex-direction: column;
    }

    .content {
        width: 90%;
    }

    .large-heading {
        font-size: 52px;
    }

    .sub-heading {
        font-size: 42px
    }

    #about {
        background-image: url(/img/viktor-about.png);
        background-position: center;
        background-size: 200%;
        background-position: 10% 50%;
        background-attachment: fixed;
    }

    #home {
        background-position: 30% 0;
    }

    #hire {
        background-size: cover;
    }

    #about .content {
        flex-direction: column;
        width: 90%;
    }

    #about section:nth-child(1) {
        width: 100%;
        justify-content: center;
        height: 100%;
    }

    #about section:nth-child(1) h1 {
        height: auto;
    }

    #about section:nth-child(2) {
        display: none;
    }

    #about section ul li {
        flex-direction: column;
        align-items: flex-start;
    }

    #about section ul li span {
        width: 100% !important;
        margin: 5px 0 5px 0;
    }

    #projects .content {
        width: 90%;
    }

    #projects .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
        gap: 30px;
        width: 100%;
    }

    .search-options {
        display: inline-block;
        width: 100%;
    }

    .search-options button {
        margin: 20px 0 20px 0;
    }

    footer .footer-links {
        width: 90%;
        display: flex;
        justify-content: center;
    }
}